mintpy.load.processor        = isce 
mintpy.load.metaFile        = 
full_path/copahue_stack/merged/SLC/*/referenceShelve/data.dat 
mintpy.load.baselineDir     = full_path/copahue_stack/baselines 
##---------interferogram datasets: 
mintpy.load.unwFile         = 
full_path/copahue_stack/Igrams/*/filt_*.unw 
mintpy.load.corFile         = 
full_path/copahue_stack/Igrams/*/filt_*.cor 
mintpy.load.connCompFile    = 
full_path/copahue_stack/Igrams/*/filt_*.unw.conncomp 
##---------geometry datasets: 
mintpy.load.demFile         = 
full_path/copahue_stack/geom_reference/hgt.rdr 
mintpy.load.lookupYFile     = 
full_path/copahue_stack/geom_reference/lat.rdr 
mintpy.load.lookupXFile     = 
full_path/copahue_stack/geom_reference/lon.rdr 
mintpy.load.incAngleFile    = 
full_path/copahue_stack/geom_reference/los.rdr 
mintpy.load.azAngleFile     = 
full_path/copahue_stack/geom_reference/los.rdr 
mintpy.load.shadowMaskFile  = 
full_path/copahue_stack/geom_reference/shadowMask.rdr 
mintpy.load.waterMaskFile   = 
full_path/copahue_stack/geom_reference/waterMask.rdr 
mintpy.reference.lalo       = auto 
#mintpy.subset.lalo       = -38.3:-37.4,-71.6:-70.4  
mintpy.deramp               = linear 